{% extends "BdImhotepBundle::layout.html.twig" %}

{% block title %}
  Gestion des utilisateurs - {{ parent() }}
{% endblock %}
{% block body %}
<div style='height:40px'></div>
<h2>Liste des utilisateurs</h2>

<div class="btn-group">
  <a class="btn btn-primary" href="/register"><i class="icon-user icon-white"></i> Nouvel utilisateur</a>
</div>


	<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Pseudo</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      	{% for user in users %}
	        <tr>
	          <td>{{user.id}}</td>
	          <td>{{ user.username|e }}</td>
	          <td>{{ user.username|e }}</td>
	          <td>{{ user.username|e }}</td>
	          <td>{{ user.email|e }}</td>
	          <td>
	          	<a class="btn" href="#" alt="Supprimer" data-toggle="tooltip" title="Supprimer"><i class="icon-trash"></i></a>
	          	<a class="btn" href="#" alt="Modifier" data-toggle="tooltip" title="Modifer"><i class="icon-edit"></i></a>
	          </td>
	        </tr>
        {% endfor %}
        
      </tbody>
    </table>

{% endblock %}
